@import "tailwindcss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #0e0e10;
  color: #efeff1;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
